<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>usersServlet</servlet-name>
    <servlet-class>web.com.servlet.usersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addUserServlet</servlet-name>
    <servlet-class>web.com.servlet.addUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>web.com.servlet.deleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>web.com.servlet.updateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>testJsonServlet</servlet-name>
    <servlet-class>web.com.servlet.testJsonServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>usersServlet</servlet-name>
    <url-pattern>/usersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUserServlet</servlet-name>
    <url-pattern>/addUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testJsonServlet</servlet-name>
    <url-pattern>/myjson.html</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>usersServlet</welcome-file>
  </welcome-file-list>
</web-app>
<!-- 
url-pattern:类似于路由 
servlet-name:类似于控制器
 -->
